<div class="create-new-comment">
  <input (click)="inputClick()" [(ngModel)]="commentInput" [placeholder]="inputPlaceholder">
  <div *ngIf="addCommentShown" class="cancel-add-button">
    <button (click)="cancel()" *ngIf="addCommentShown">Cancel</button>
    <button (click)="postComment()" *ngIf="addCommentShown" [disabled]="disabled()">Add comment</button>
  </div>
  <div *ngIf="errorsText" class="error">{{errorsText}}</div>
</div>
<div *ngIf="commentsTree && commentsTree.length" class="comments-list">
  <div *ngFor="let comment of commentsTree" class="comment-node">
    <img *ngFor="let n of comment.depth | rangeLoop" src="assets/img/dot.png">
    <div class="comment">
      <div class="comment-top">
        <h4>{{comment.comment.username}}</h4>
        <p>{{dateOf(comment.comment)}}</p>
      </div>
      {{comment.comment.text}}
      <div class="comment-reactions">
        <div class="item">
          <img (click)="likeComment(comment.comment)" src="assets/img/like.png">
          <p>{{comment.comment.likes}}</p>
        </div>
        <div class="item">
          <img (click)="dislikeComment(comment.comment)" src="assets/img/dislike.png">
          <p>{{comment.comment.dislikes}}</p>
        </div>
      </div>
      <button (click)="replyClick(comment)">Reply</button>
      <div *ngIf="comment.reply_field_display" class="create-new-comment">
        <input [(ngModel)]="replyCommentInput" placeholder="Type reply here">
        <div class="cancel-add-button">
          <button (click)="cancelReplyClick()">Cancel</button>
          <button (click)="postReply(comment.comment)" [disabled]="replyDisabled()">Post</button>
        </div>
        <div *ngIf="replyErrorsText" class="error">{{replyErrorsText}}</div>
      </div>
    </div>
  </div>
  <div class="load-more">
    <button (click)="loadComments()" *ngIf="cursor">Load more</button>
  </div>
</div>
