@import '../../scss/base.scss';

.create-new-comment {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.cancel-add-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    margin-left: 20px;
    margin-top: 10px;
  }
}

input {
  font-size: 16px;
  padding: 5px;
}

.error {
  color: #cc0000;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.comments-list {
  .comment-node {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;

    .comment {
      .comment-top {
        height: 30px;

        p {
          margin: 0px;
          font-size: 12px;
          color: #8190A5;
        }

        display: flex;
        flex-direction: row;
        align-items: center;

        h4 {
          margin-right: 20px;
        }
      }

      .reactions-block {
        margin-top: 8px;
      }

      button {
        margin-top: 8px;
        color: #8190A5;
        font-size: 14px;
      }
    }
  }

  .load-more {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
