@import '../../scss/base.scss';

.create-new-comment {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.cancel-add-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    margin-left: 20px;
    margin-top: 10px;
  }
}

.reply-edit-button {
  display: flex;
  flex-direction: row;
  height: 12px;

  button {
    margin-top: 0;
    margin-right: 15px;
  }
}

input {
  font-size: 16px;
  padding: 5px;
}

.comments-list {
  .comment-node {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;

    .comment {
      .comment-top {
        height: 30px;

        p {
          margin: 0;
          font-size: 12px;
          color: #8190A5;
        }

        display: flex;
        flex-direction: row;
        align-items: center;

        h4 {
          margin: 0 20px 0 0;
        }
      }

      .reactions-block {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      button {
        margin-top: 8px;
        color: #8190A5;
        font-size: 14px;
      }
    }
  }

  .load-more {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

// dark theme styles
:host-context(.dark-theme) input {
  background-color: $input-background_d;
  color: $font_d;
}

:host-context(.dark-theme) input::placeholder {
  color: $tips-text_d;
}
