<div class="create-new-comment">
  <input (click)="inputClick()" [(ngModel)]="commentInput" [placeholder]="inputPlaceholder">
  <div *ngIf="addCommentShown" class="cancel-add-button">
    <button (click)="cancelNewComment()" *ngIf="addCommentShown">Cancel</button>
    <button (click)="postComment()" *ngIf="addCommentShown" [disabled]="disabled()">Add comment</button>
  </div>
  <div *ngIf="errorsText" class="error">{{errorsText}}</div>
</div>
<div *ngIf="commentsTree && commentsTree.length" class="comments-list">
  <div *ngFor="let comment of commentsTree" class="comment-node">
    <mat-icon *ngFor="let _ of comment.depth | rangeLoop" class="circle">circle</mat-icon>
    <div class="comment">
      <div class="comment-top">
        <h4>{{comment.comment.username}}</h4>
        <p>{{dateOf(comment.comment)}}</p>
      </div>
      <ng-container *ngIf="!comment.edited; else edited">
        <p>{{comment.comment.text}}</p>
      </ng-container>
      <ng-template #edited>
        <input [(ngModel)]="comment.comment.text">
        <div class="cancel-add-button">
          <button (click)="cancelEditComment()">Cancel</button>
          <button (click)="editComment(comment)" *ngIf="(isAuthor(comment) | async)"
                  [disabled]="editDisabled(comment.comment)">Save
          </button>
        </div>
      </ng-template>
      <div class="reactions-block">
        <div class="item">
          <mat-icon (click)="likeComment(comment.comment)" class="reaction-button">thumb_up</mat-icon>
          <p>{{comment.comment.likes}}</p>
        </div>
        <div class="item">
          <mat-icon (click)="dislikeComment(comment.comment)" class="reaction-button">thumb_down</mat-icon>
          <p>{{comment.comment.dislikes}}</p>
        </div>
      </div>
      <div class="reply-edit-button">
        <button (click)="showReplyPrompt(comment)">Reply</button>
        <button (click)="showEditPrompt(comment)" *ngIf="(isAuthor(comment) | async)">Edit</button>
      </div>
      <div *ngIf="comment.reply_field_display" class="create-new-comment">
        <input [(ngModel)]="replyCommentInput" placeholder="Type reply here">
        <div class="cancel-add-button">
          <button (click)="cancelReplyComment()">Cancel</button>
          <button (click)="postReply(comment.comment)" [disabled]="replyDisabled()">Post</button>
        </div>
        <div *ngIf="replyErrorsText" class="error">{{replyErrorsText}}</div>
      </div>
    </div>
  </div>
  <div class="load-more">
    <button (click)="loadComments()" *ngIf="cursor">Load more</button>
  </div>
</div>
