<div class="recent-activity">
  <h2 class="header-border">Recent articles</h2>
  <ng-container *ngIf="recentArticles && recentArticles.length; else noArticles">
    <div *ngFor="let article of recentArticles">
      <app-article-preview [article]="article"></app-article-preview>
    </div>
  </ng-container>
  <ng-template #noArticles>
    <p>Nothing here</p>
  </ng-template>
  <h2 class="header-border">Recent tutorials</h2>
  <ng-container *ngIf="recentTutorials && recentTutorials.length; else noTutorials">
    <div *ngFor="let tutorial of recentTutorials">
      <app-tutorial-preview [tutorial]="tutorial"></app-tutorial-preview>
    </div>
  </ng-container>
  <ng-template #noTutorials>
    <p>Nothing here</p>
  </ng-template>
</div>
