<div>
  <h2>Popular articles today</h2>
  <ng-container *ngIf="recentArticles && recentArticles.length; else noArticles">
    <div *ngFor="let article of recentArticles">
      <app-article-preview [article]="article"></app-article-preview>
    </div>
  </ng-container>
  <ng-template #noArticles>
    <p>Nothing here</p>
  </ng-template>
  <h2>Popular tutorials today</h2>
  <ng-container *ngIf="recentTutorials; else noTutorials">
    <div *ngFor="let tutorial of recentTutorials">
    </div>
  </ng-container>
  <ng-template #noTutorials>
    <p>Nothing here</p>
  </ng-template>
</div>
