<div class="base-style">
  <div class="container">
    <div class="item">
      <h1>Sign up</h1>
    </div>
    <div class="item">
      <h3>Join the Code Hub community</h3>
    </div>
    <form [formGroup]="userDataFormGroup">
      <div class="item">
        <input formControlName="username" placeholder="Your name"/>
      </div>
      <div class="item">
        <input formControlName="email" placeholder="Email" type="email"/>
      </div>
      <div class="item">
        <input formControlName="password" placeholder="Password" type="password"/>
      </div>
      <div class="item">
        <input formControlName="confirmPassword" placeholder="Confirm Password" type="password"/>
      </div>
    </form>
    <div *ngIf="errorsText" class="error">
      {{errorsText}}
    </div>
    <div class="item">
      <button (click)="register()" [disabled]="registrationInProgress" class="action-button">Sign Up</button>
    </div>
    <div class="item">
      <div class="content-secondary supply">
        <p class="content-secondary supply">Already have an account? <a routerLink="../sign-in">Sign In</a></p>
        <p>By signing up, you agree to our<br>Terms & Conditions</p>
      </div>
    </div>
  </div>
</div>
