<div class="base-style">
  <div class="container">
    <div class="item">
      <h1>Sign up</h1>
    </div>
    <div class="item">
      <h3>Join the Code Hub community</h3>
    </div>
    <div class="item">
      <input placeholder="Your name" type=""/>
    </div>
    <div class="item">
      <input placeholder="Email" type="email"/>
    </div>
    <div class="item">
      <input placeholder="Password" type="password"/>
    </div>
    <div class="item">
      <button>Sign Up</button>
    </div>
    <div class="item">
      <div class="content-secondary supply">
        <p class="content-secondary supply">Already have an account? <a [routerLink]="signInLink">Sign In</a></p>
        <p>By signing up, you agree to our<br>Terms & Conditions</p>
      </div>
    </div>
  </div>
</div>
