<div class="new-article">
  <ng-container *ngIf="mode === 'create'">
    <p>You are creating {{articlesCount === 0 ? 'your first' : 'another'}} article! We are glad you are
      contributing to the Code Hub. Please follow our simple rules when creating an article.
    </p>
    <p>Give a title to your article</p>
  </ng-container>
  <input [formControl]="articleTitle" class="article-title-input" maxlength="128" minlength="8">
  <p>Write your article here</p>
  <div *ngIf="!loadingEditorDone" class="loading-editor-alert">
    Loading editor ...
  </div>
  <app-editor-module (editorLoaded)="loadingEditorDone = true" [(editor)]="editor"></app-editor-module>
  <div class="bottom-content">
    <p>You can edit the article at any time after it's submitted</p>
    <div *ngIf="errorsText" class="error">
      {{errorsText}}
    </div>
    <button (click)="submit()" [disabled]="!submitButtonEnabled">{{mode === 'create' ? 'Create' : 'Submit'}}</button>
  </div>
</div>
