<div class="new-article">
  <ng-container *ngIf="mode === 'create'">
    <p>You are creating {{articlesCount === 0 ? 'your first' : 'another'}} article! We are glad you are
      contributing to the Code Hub. Please follow our simple rules when creating an article.
    </p>
    <p>Give a title to your article</p>
  </ng-container>
  <input [formControl]="articleTitle" class="article-title-input" maxlength="128" minlength="8">
  <p>Write your article here</p>
  <editor
    [(ngModel)]="editor"
    [init]="{
     base_url: '/tinymce',
     suffix: '.min',
     height: 500,
     menubar: false,
     images_upload_url: '/api/v1/content/uploads/',
     plugins: [
       'lists link image print preview anchor image',
       'visualblocks codesample fullscreen',
       'media table paste help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | image | codesample | removeformat | help'
   }"
  ></editor>
  <div class="bottom-content">
    <p>You can edit the article at any time after it's submitted</p>
    <div *ngIf="errorsText" class="error">
      {{errorsText}}
    </div>
    <button (click)="submit()" [disabled]="!submitButtonEnabled">{{mode === 'create' ? 'Create' : 'Submit'}}</button>
  </div>
</div>
