<div *ngIf="tutorial" [routerLink]="linkToTutorial" class="tutorial-preview">
  <ng-container *ngIf="mode === 'owner'; else noProfileMode">
    <div class="align-items">
      <h3>{{tutorial.title}}</h3>
      <div *ngIf="tutorial.published" class="align-items">
        <mat-icon class="icon-published">check_circle_outline</mat-icon>
        <span class="helper-text">(published)</span>
      </div>
      <div *ngIf="!tutorial.published" class="align-items">
        <mat-icon class="icon-pending">access_time</mat-icon>
        <span class="helper-text">(pending)</span>
      </div>
    </div>
  </ng-container>
  <ng-template #noProfileMode>
    <h3>{{tutorial.title}}</h3>
  </ng-template>
  <p class="helper-text">{{tutorial.username}} on {{dateCreated}}</p>
  <p class="content-main preview">{{tutorial.preview}}</p>
  <p class="helper-text">{{tutorial.total_articles}} article{{tutorial.total_articles > 1 ? 's' : ''}}</p>
</div>
