@mixin article-view-component-colors($theme) {
  .article {
    color: map-get($theme, text);

    .reactions-block > .item > .reaction-button {
      color: map-get($theme, helper-text);
    }

    .bottom-buttons {
      button {
        color: map-get($theme, text);
        background: map-get($theme, background);
      }
    }
  }
  .last-edit, .views {
    color: map-get($theme, helper-text);
  }
  .loading {
    color: map-get($theme, text);
  }
}
