@import '../../scss/base.scss';

.article {
  max-width: 1200px;

  pre {
    overflow-x: scroll;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.bottom-buttons {
  display: flex;
  justify-content: flex-end;
}

.last-edit, .views {
  color: #8190A5;
}
@media (max-width: $mobile_screen_width) {
  :host ::ng-deep img {
    width: 100%;
    height: 100%;
  }
}
