<ng-container *ngIf="article; else loading">
  <div class="article">
    <h2>{{ article.title }}</h2>
    <div [innerHTML]="article.text | safeHtml"></div>
    <div class="author-info">
      <img [src]="article.author_avatar">
      <div class="date-container">
        <p>{{ article.username}}</p>
        <p>{{dateCreated}}</p>
      </div>
    </div>
    <p *ngIf="dateEdited" class="last-edit">Last edit on {{dateEdited}}</p>
    <p class="views"> {{articleViews}} views</p>
    <div class="reactions-block">
      <div class="item">
        <mat-icon (click)="likeArticle()" class="reaction-button">thumb_up</mat-icon>
        <p>{{article.likes}}</p>
      </div>
      <div class="item">
        <mat-icon (click)="dislikeArticle()" class="reaction-button">thumb_down</mat-icon>
        <p>{{article.dislikes}}</p>
      </div>
    </div>
    <ng-container *ngIf="mode === 'owner'">
      <div class="bottom-buttons">
        <button [routerLink]="editLink">Edit</button>
      </div>
    </ng-container>
    <div class="discussion">
      <h3>Discussion</h3>
    </div>
  </div>
  <ng-container *ngIf="article.published; else commentsNotAvailable">
    <app-comments></app-comments>
  </ng-container>
  <ng-template #commentsNotAvailable>
    <p class="no-comments">Discussion will be available when article is published</p>
  </ng-template>
</ng-container>
<ng-template #loading>
  <div class="loading">
    <p>Loading article...</p>
  </div>
</ng-template>
