@use '../../scss/base';
@use '../styles/reactions-block';

@mixin article-style {
  @include base.text-style;
  max-width: 1200px;

  pre {
    overflow-x: scroll;
  }

  .reactions-block {
    @include reactions-block.reactions-block(20px);
  }

  .author-info {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
      width: 35px;
      height: 35px;
    }

    .date-container {
      p {
        margin-bottom: 3px;
        margin-top: 3px;
      }
    }
  }
}

.article {
  @include article-style;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  @include base.text-style
}

.no-comments {
  @include base.text-style;
}

.bottom-buttons {
  display: flex;
  justify-content: flex-end;

  button {
    @include base.button-style;
  }
}

@media (max-width: base.$mobile_screen_width) {
  :host ::ng-deep img {
    width: 100%;
    height: 100%;
  }
}
