<ng-container *ngIf="article; else loading">
  <div class="article">
    <h2>{{ article.title }}</h2>
    <div [innerHTML]="article.text"></div>
    <p class="author"> Written by {{ article.username}} on {{dateCreated}}</p>
    <p *ngIf="dateEdited" class="last-edit">Last edit on {{dateEdited}}</p>
    <p class="views"> {{articleViews}} views</p>
    <ng-container *ngIf="mode === 'owner'">
      <div class="bottom-buttons">
        <button [routerLink]="editLink">Edit</button>
      </div>
    </ng-container>
    <div class="discussion">
      <h3>Discussion</h3>
    </div>
  </div>
  <app-comments></app-comments>
</ng-container>
<ng-template #loading>
  <div class="loading">
    Loading article...
  </div>
</ng-template>
