@import '../../scss/base.scss';

.base-style {
  padding: 30px 20px 30px 20px;
  max-width: 1200px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

@media (max-width: $mobile_screen_width) {
  .base-style {
    padding: 20px 10px 20px 10px;
    max-width: 1200px;
  }
}
