@mixin articles-list-component-colors($theme) {
  .dropdown {
    p {
      color: map-get($theme, text);
    }

    select, option {
      background: map-get($theme, input-bg);
      color: map-get($theme, text);
    }
  }
}
