@mixin articles-list-component-colors($theme) {
  .dropdown > p, .no-articles > p {
    color: map-get($theme, text);
  }
  .dropdown {
    select, option {
      background: map-get($theme, input-bg);
      color: map-get($theme, text);
    }
  }
}
