@use '../../scss/base';

.dropdown {
  display: flex;

  select, option {
    border: none;
    font-size: 16px;
  }
}

.dropdown > p, .no-articles > p {
  @include base.text-style;
  margin: 0 10px 0 0;
}
