@use '../scss/base';

.base-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;

  .container {
    .item {
      @include base.text-style;
      padding: 6px;
      display: flex;
      justify-content: space-around;
      text-align: center;

      .content-secondary {
        margin-top: 45px;
        font-weight: 400;
      }

      .supply {
        font-size: 15px;
      }

      h3, h1 {
        padding-top: 20px;
      }

      h3 {
        font-size: 21px;
      }

      input {
        border: 1px solid #8492A6;
        border-radius: 5px;
        width: 250px;
        height: 40px;
        padding: 5px 14px 5px 14px;
        font-size: 18px;
      }

      .action-button {
        padding: 10px;
      }

      ::placeholder {
        font-size: 18px;
      }

      button {
        @include base.button-style;
      }
    }

    .error {
      padding: 10px;
    }
  }
}
