@import '../scss/base.scss';

.base-style {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container {
    .item {
      padding: 6px;
      text-align: center;

      .content-secondary {
        margin-top: 45px;
      }

      h3, h1 {
        padding-top: 20px;
      }

      h3 {
        font-size: 21px;
      }

      input {
        border: 1px solid #8492A6;
        border-radius: 5px;
        width: 287px;
        height: 40px;
        padding: 5px 14px 5px 14px;
        font-size: 18px;
        color: #8190A5;
      }

      .action-button {
        padding: 10px;
      }

      ::placeholder {
        color: #8190A5;
        font-size: 18px;
      }
    }

    .error {
      color: #cc0000;
      text-align: center;
      padding: 10px;
    }
  }
}
