<editor
  [(ngModel)]="editor"
  [init]="{
     base_url: '/tinymce',
     suffix: '.min',
     height: 500,
     menubar: false,
     plugins: [
       'lists link image print preview anchor',
       'visualblocks codesample fullscreen',
       'media table paste help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | codesample | removeformat | help'
   }"
></editor>
<button (click)="printEditor()">Print content</button>
