.base-style {
  padding: 10px;
  flex-shrink: 0;
  position: relative;
}


.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-navbar {
  display: none;
  height: 0px;
}
