@use '../../scss/base';

.logo {
  @include base.header-style(1);
  @include base.a-style;
}

.header-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  padding: 20px;

  button {
    @include base.button-style;
  }
}


@media (max-width: base.$mobile_screen_width) {
  .header {
    padding: 10px;
  }
}
