@import '../../scss/base.scss';

.logo {
  @extend h1;
}

.header-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: $mobile_screen_width) {
  .base-style {
    padding: 10px;
  }
}

@media (min-width: $mobile_screen_width) {
  .base-style {
    padding: 20px;
  }
}
