@import "../../scss/base";

.search-prompt {
  display: flex;
  flex-direction: row;

  button {
    margin-left: 20px;
  }

  input {
    padding: 5px;
  }
}

h3 {
  border-bottom: 1px solid black;
}

:host-context(.dark-theme) input {
  background-color: $input-background_d;
  color: $font_d;
}
