<div class="search-prompt">
  <input (keyup.enter)="performSearch()" [(ngModel)]="searchQuery" type="text">
  <button (click)="performSearch()" [disabled]="">Search</button>
</div>
<div *ngIf="searchPerformed">
  <p>Showing results for "{{lastExecutedQuery}}", search done in {{requestTime()}} seconds</p>
  <ng-container *ngIf="anyResult(); else noResults">
    <div *ngIf="hasItems(articlesResult)">
      <h3>Articles</h3>
      <div *ngFor="let article of articlesResult">
        <app-article-preview [article]="article"></app-article-preview>
      </div>
    </div>
    <div *ngIf="hasItems(tutorialArticlesResult)">
      <h3>Tutorial articles</h3>
      <div *ngFor="let article of tutorialArticlesResult">
        <app-tutorial-article-preview [article]="article"></app-tutorial-article-preview>
      </div>
    </div>
    <div *ngIf="hasItems(tutorialsResult)">
      <h3>Tutorials</h3>
      <div *ngFor="let tutorial of tutorialsResult">
        <app-tutorial-preview [tutorial]="tutorial"></app-tutorial-preview>
      </div>
    </div>
  </ng-container>
  <ng-template #noResults>
    <p>No results</p>
  </ng-template>
</div>
