@use '../../scss/base';

.search-component {
  @include base.text-style;

  .search-prompt {
    display: flex;
    flex-direction: row;

    button {
      @include base.button-style;
      margin-left: 20px;
    }

    input {
      padding: 5px;
    }
  }
}
