<div class="settings-list">
  <div class="personal-info-settings">
    <h3>Personal Info</h3>
    <!--    <input type="file" (change)="fileChangeEvent($event)"/>-->
    <!--    <image-cropper-->
    <!--      [imageChangedEvent]="imageChangedEvent"-->
    <!--      [maintainAspectRatio]="true"-->
    <!--      [aspectRatio]="1"-->
    <!--      format="png"-->
    <!--      (imageCropped)="imageCropped($event)"-->
    <!--      (imageLoaded)="imageLoaded()"-->
    <!--      (cropperReady)="cropperReady()"-->
    <!--      (loadImageFailed)="loadImageFailed()"-->
    <!--    ></image-cropper>-->
    <!--    <img [src]="croppedImage"/>-->
    <p class="tips-text">Edit personal info here</p>
    <form [formGroup]="userDataFormGroup">
      <p class="label">Username</p>
      <input formControlName="username">
    </form>
    <img [src]="currentAvatarUrl" class="avatar-display">
  </div>
  <div class="separator"></div>
  <div *ngIf="notificationSettings" class="bottom">
    <h3>Notifications</h3>
    <p class="tips-text">Set up email notifications preferences here</p>
    <p>Receive email on:</p>
    <div class="checkbox-item">
      <input [(ngModel)]="notificationSettings.new_comment" type="checkbox">
      <p>New comment on my article</p>
    </div>
    <div class="checkbox-item">
      <input [(ngModel)]="notificationSettings.comment_reply" type="checkbox">
      <p>Reply to my comment</p>
    </div>
  </div>
  <div class="bottom-messages">
    <p *ngIf="errorsText" class="error">{{errorsText}}</p>
    <p *ngIf="updated" class="success">Settings have been updated</p>
    <button (click)="updateSettings()">Update settings</button>
  </div>
</div>
