@use '../../../scss/base';

.settings-list {
  @include base.text-style;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 800px;

  .personal-info-settings {
    input {
      width: 200px;
      padding: 5px;
      font-size: 18px;
    }

    .avatar-display {
      width: 150px;
      height: 150px;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .label {
    margin-bottom: 3px;
  }

  .separator {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .checkbox-item {
    display: flex;
    align-items: center;

    p {
      margin: 5px 0 5px 0;
    }
  }

  .bottom {
    margin-bottom: 10px;
  }

  button {
    @include base.button-style;
    width: fit-content;
  }

  .bottom-messages {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

    .error {
      padding: 0;
    }
  }

  .success {
    color: #33cc33;
  }
}
