@import "../../../scss/base.scss";

.settings-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 800px;

  .personal-info-settings {
    input {
      border: 1px solid #8492A6;
      border-radius: 5px;
      width: 200px;
      padding: 5px;
      font-size: 18px;
    }

    .avatar-display {
      width: 150px;
      height: 150px;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .label {
    margin-bottom: 3px;
  }

  .separator {
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .checkbox-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 5px 0 5px 0;
    }
  }

  .bottom {
    margin-bottom: 10px;
  }

  button {
    width: fit-content;
  }

  .bottom-messages {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

    .error {
      padding: 0;
    }
  }

  .success {
    color: #33cc33;
  }
}


// dark theme styles
:host-context(.dark-theme) input {
  background-color: $input-background_d;
  color: $font_d;
}

:host-context(.dark-theme) input::placeholder {
  color: $tips-text_d;
}

:host-context(.dark-theme) .tips-text {
  color: $tips-text_d;
}

:host-context(.dark-theme) .separator {
  border-bottom: 1px solid $tips-text_d;
}
