<div class="settings-list">
  <div class="personal-info-settings">
    <h3>Personal Info</h3>
    <p class="tips-text">Edit personal info here</p>
    <form [formGroup]="userDataFormGroup">
      <p class="label">Username</p>
      <input formControlName="username">
    </form>
    <p class="label">Profile picture</p>
    <img (click)="ngxSmartModalService.getModal('changeAvatarModal').open()" [src]="currentAvatarUrl"
         class="avatar-display">
  </div>
  <div class="separator"></div>
  <div *ngIf="notificationSettings" class="bottom">
    <h3>Notifications</h3>
    <p class="tips-text">Set up email notifications preferences here</p>
    <p>Receive email on:</p>
    <div class="checkbox-item">
      <input [(ngModel)]="notificationSettings.new_comment" type="checkbox">
      <p>New comment on my article</p>
    </div>
    <div class="checkbox-item">
      <input [(ngModel)]="notificationSettings.comment_reply" type="checkbox">
      <p>Reply to my comment</p>
    </div>
  </div>
  <div class="bottom-messages">
    <p *ngIf="errorsText" class="error">{{errorsText}}</p>
    <p *ngIf="updated" class="success">Settings have been updated</p>
    <button (click)="updateSettings()">Update settings</button>
  </div>
</div>
<ngx-smart-modal #changeAvatarModal customClass="change-avatar-modal" identifier="changeAvatarModal">
  <input (change)="fileChangeEvent($event)" type="file"/>
  <image-cropper
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (loadImageFailed)="loadImageFailed()"
    [aspectRatio]="1"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    format="png"
  ></image-cropper>
  <div class="bottom-buttons">
    <button (click)="resetImage()" [disabled]="!croppedImage || updating">Reset</button>
    <button (click)="updateUserAvatar()" [disabled]="!croppedImage || updating">Update</button>
  </div>
</ngx-smart-modal>
