@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$mobile_screen_width: 600px;
.base-style {
  font-family: Lato;
  color: #000000;
  //color: #343F4B;
  text-align: left;

  h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
  }

  .logo {
    @extend h1;
    color: #000000;
  }

  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
  }

  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
  }

  .content-main {
    font-size: 18px;
    font-weight: 400;

    .preview {
      color: #595959;
    }
  }

  .content-secondary {
    color: #8190A5;
    font-weight: 400;

    .comment {
      font-size: 18px;
    }

    .supply {
      font-size: 15px;
    }
  }

  .tips-text {
    color: #47525E;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  a {
    text-decoration: none;
  }

  button {
    background-color: white;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;

    .small {
      font-size: 16px;
    }
  }

  .two-column {
    display: flex;
    justify-content: space-between;

    .column-wrapper {
      flex-grow: 0;
    }
  }
}
