$background_d: #222f3e;
$font_d: #ffffff;
$tips-text_d: #b3d9ff;
$error-text_d: #cc0000;
$selected-navbar-element_d: #E5E9F2;
$input-background_d: #2b3d52;

$background: #ffffff;
$font: #000000;
$tips-text: #47525E;
$error-text: #cc0000;
$selected-navbar-element: #E5E9F2;
