<div class="base-style">
  <div class="container">
    <form [formGroup]="passwordsFormGroup">
      <div class="item">
        <input formControlName="password" placeholder="New password" type="password">
      </div>
      <div class="item">
        <input formControlName="confirmPassword" placeholder="Confirm new password" type="password">
      </div>
    </form>
    <div class="item">
      <button (click)="changePassword()">Set this password</button>
    </div>
    <div *ngIf="errorsText" class="error">
      <p>{{errorsText}}</p>
    </div>
  </div>
</div>
