<ng-container *ngIf="content && content.length else noContent">
  <div class="dropdown">
    <p>Order by:</p>
    <select (change)="setOrder()" [formControl]="orderingControl">
      <option value="views">Views</option>
      <option selected="true" value="date">Date</option>
    </select>
  </div>
  <div *ngFor="let tutorial of content">
    <app-tutorial-preview [mode]="mode" [tutorial]="tutorial"></app-tutorial-preview>
  </div>
</ng-container>
<ng-template #noContent>
  <p>Nothing here</p>
</ng-template>
