@use '../scss/base';

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 30px 20px 30px 20px;
}

@media (max-width: base.$mobile_screen_width) {
  .content {
    flex-grow: 1;
    padding: 20px 10px 20px 10px;
  }
}
