@use '../../scss/base';

@mixin preview {
  @include base.text-style;
  margin: 20px 0 20px 0;
  max-width: 800px;
  cursor: pointer;

  .content-main {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 5px 0;
  }

  .align-items {
    display: flex;
    align-items: center;

    .icon-pending, .icon-published {
      margin: 0 5px 0 15px;
    }
  }

  .helper-text {
    @include base.helper-text;
  }
}

.article {
  @include preview;
}

@mixin mobile-preview {
  margin: 15px 0 15px 0;

  .content-main {
    margin: 5px 0 5px 0;
    font-size: 16px;
  }

  .helper-text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: base.$mobile_screen_width) {
  .article {
    @include mobile-preview;
  }
}
