@import '../../scss/base.scss';

.article {
  margin: 20px 0 20px 0;
  max-width: 800px;
  cursor: pointer;

  .content-main {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 5px 0;
  }

  .align-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 20px;
  }
}

@media (max-width: $mobile_screen_width) {
  .article {
    margin: 15px 0 15px 0;

    .content-main {
      margin: 5px 0 5px 0;
      font-size: 16px;
    }

    .tips-text {
      font-size: 14px;
      line-height: 20px;
    }

    img {
      margin: 0 5px 0 10px;
    }
  }
}

// dark theme styles
:host-context(.dark-theme) .tips-text {
  color: $tips-text_d;
}
