@mixin icons-colors {
  .icon-published {
    color: #33cc33;
  }
  .icon-pending {
    color: #ff9900;
  }
}

@mixin article-preview-component-colors($theme) {
  .article {
    color: map-get($theme, text);

    .helper-text {
      color: map-get($theme, helper-text);
    }

    @include icons-colors;
  }
}
