<div *ngIf="article" [routerLink]="linkToArticle" class="article">
  <ng-container *ngIf="mode === 'owner'; else noProfileMode">
    <div class="align-items">
      <h3>{{article.title}}</h3>
      <div *ngIf="article.published" class="align-items">
        <img src="assets/img/published.png">
        <span class="tips-text">(published)</span>
      </div>
      <div *ngIf="!article.published" class="align-items">
        <img src="assets/img/pending.png">
        <span class="tips-text">(pending)</span>
      </div>
    </div>
  </ng-container>
  <ng-template #noProfileMode>
    <h3>{{article.title}}</h3>
  </ng-template>
  <p class="tips-text">{{article.username}} on {{dateCreated}}</p>
  <p class="content-main preview">{{article.preview}}</p>
  <ng-container *ngIf="article.estimate_reading_time as time">
    <p class="tips-text">Reading time: {{time}} minute{{time > 1 ? 's' : ''}}</p>
  </ng-container>
</div>
