@import '../../scss/base.scss';

.table-of-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 30px 10px 10px;

  .item {
    padding: 10px 0 10px 0;
  }

  a {
    color: black;
  }
}
@media (max-width: $mobile_screen_width) {
  .table-of-contents {
    padding: 0;
  }
}
