@use '../../scss/base';

.error-message-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;

  p {
    @include base.text-style;
    max-width: 80vw;
  }

  button {
    @include base.button-style;
    position: absolute;
    right: 25px;
    background-color: inherit;
  }
}

.error-message-block.hidden {
  transform: translate(0, -150%);
  transition: transform 0.2s linear;
}

@media (max-width: base.$mobile_screen_width) {
  p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .error-message-block {
    width: 93vw;
    justify-content: unset;
    padding-left: 10px;
  }
}
