@use '../../scss/base';

.error-message-block {
  background: #ff9900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  min-height: 40px;

  .text-block {
    width: 100%;
    display: flex;
    justify-content: center;

    p {
      color: black;
      @include base.text-style;
      margin: 0;
    }
  }


  button {
    @include base.button-style;
    background-color: inherit;
    font-size: unset;
    height: 24px;
  }
}

.error-message-block.hidden {
  transform: translate(0, -150%);
  transition: transform 0.2s linear;
}
