@import '../../scss/base.scss';

.tutorial {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.table-of-content {
  max-width: 200px;
}

.tutorial-articles-list {
  padding-left: 20px;
  border-left: 1px solid gray;

  h1 {
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;

    button {
      margin-right: 20px;
    }
  }
}
