@use 'app/scss/base';
@import "~prismjs/plugins/toolbar/prism-toolbar";
@import "~prismjs/themes/prism-okaidia";
@import "~ngx-smart-modal/ngx-smart-modal";

body {
  margin: 0;
}

.change-avatar-modal {
  image-cropper {
    height: 400px;
  }

  .bottom-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      @include base.button-style;
      margin-left: 15px;
    }
  }
}
