<div (clickOutside)="outsideClickHandler()" class="mobile-toolbar">
  <button (click)="navbarOpened = !navbarOpened"
          [ngClass]="navbarOpened ? 'is-active' : ''"
          class="hamburger hamburger--slider">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
  </button>
</div>
<div [ngClass]="navbarOpened ? 'navbar-elements' : 'hide-navbar'" class="navbar-elements">
  <div *ngFor="let item of navbarItems">
    <button [routerLink]="item.routerLink" routerLinkActive="selected"><span>{{item.title | titlecase}}</span>
    </button>
  </div>
</div>
