.mobile-toolbar {
  display: none;
}

.navbar-elements {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;

  .selected {
    border-bottom: 8px solid #E5E9F2;
  }
}
