<div (clickOutside)="outsideClickHandler()" class="base-style">
  <div class="mobile-toolbar">
    <button (click)="mobileOpened = !mobileOpened"
            [ngClass]="mobileOpened ? 'is-active' : ''" class="hamburger hamburger--slider"
            type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
    </button>
  </div>
  <div *ngFor="let item of navbarItems" [ngClass]="mobileOpened ? '' : 'hide-navbar'">
    <div class="nav-element">
      <img *ngIf="item.asset" src="{{item.asset}}">
      <button (click)="selectMode(item)"
              [class.selected]="selectedNavbarItem === item.title">{{item.title | titlecase}}</button>
    </div>
  </div>
</div>
