@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

.hamburger {
  padding: 10px 15px !important;
}

.hide-navbar {
  display: none !important;
}

.navbar-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;

  button {
    height: 35px;
  }

  .selected {
    border-left: solid 6px #E5E9F2;

    span {
      margin-left: 3px;
    }
  }
}
