@use '../../scss/base';

.hide-navbar {
  display: none !important;
}

.mobile-toolbar {
  button {
    border: none;
  }
}

.navbar-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;

  button {
    height: 35px;
  }

  .selected {
    span {
      margin-left: 3px;
    }
  }
}
